{% extends 'main.html' %}
{% block content %}
    <h1>{{ msg }}</h1>
    {% if number > 10 %}
        <p>Number is greater than 10</p>
    {% elif number == 10 %}
        <p>Number is ten</p>
    {% else %}
        <p>number is lower than 10</p>
    {% endif %}
    <hr />
    <h1>Projects</h1>
    <ul>
        {% for project in projects %}
            <li>
                Title:<a href="{% url 'project' project.id %}">{{ project.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <h1>
    {% endblock content %}
